body {
  font-family: 'Acme', sans-serif;
}

.screenplay {
  height: auto;
}

.character {
  height: 18.75em;
}

.hero-icon {
  width: 16px;
  height: 16px;
}

.nameLuigi {
  color: green;
}

.nameMario {
  color: red;
}

@keyframes eatMushroomMario {
  from {
    height: 6.250em;
  }

  to {
    height: 11.875em;
  }
}

@keyframes shrinkMario {
  from {
    height: 11.875em;
  }

  to {
    height: 6.250em;
  }
}

.heroMario {
  width: 125px;
  height: 6.250em;
}


.sizeMario-enter-active {
  animation-name: eatMushroomMario;
  animation-duration: 0.5s;
}

.sizeMario-leave-active {
  animation: 0.5s shrinkMario;
}


.mushroomMario {
  width: 125px;
  height: 11.875em;
}

.hatMario {
  background-color: #CF1319;
  height: 20%;
  font-weight: 900;
}

.headMario {
  background-color: bisque;
  height:30%;
}

.bodyMario {
  background-color: #2A31FF;
  height: 50%;
}

@keyframes eatMushroomLuigi {
  from {
    height: 6.250em;
  }

  to {
    height: 15.625em;
  }
}

@keyframes shrinkLuigi {
  from {
    height: 15.625em;
  }

  to {
    height: 6.250em;
  }
}

.sizeLuigi-enter-active {
  animation-name: eatMushroomLuigi;
  animation-duration: 0.5s;
}

.sizeLuigi-leave-active {
  animation: 0.5s shrinkLuigi;
}

.heroLuigi {
  width: 100px;
  height: 6.250em;
}

.mushroomLuigi {
  width: 100px;
  height: 15.625em;
}

.hatLuigi {
  background-color: #38A43E;
  height: 20%;
  font-weight: 900;
}

.headLuigi {
  background-color: bisque;
  height: 30%;
}

.bodyLuigi {
  background-color: #2A31FF;
  height: 50%;
}

.demo{
  width:400px;
  height:400px;
  font-size:5em;
  float:left;
  text-align:center;
}


/* Rainbow when star(true) */
.giveStar { 
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 5s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.btn-hit {
  background-color: #F7BE07;
  color: red
}

.btn-1up {
  background-color: #2CC573;
  color: #F0F8F8;
}

.btn-mushroom {
  background-color: #F9444D;
}

.btn-hit:hover, .btn-1up:hover, .btn-mushroom:hover, .btn-star:hover {
  transform: translateY(4px);
  transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-star {
  background-color: #FFF12A;
}

.btn-Mario {
  background-color: #CF1319;
  color: black
}

.btn-Luigi {
  background-color: #38A43E;
  color: black
}

.lifes-enter-active, .lifes-leave-active {
  transition: all 0.5s;
}
.lifes-enter, .lifes-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}